.setuser{
    width: 60%;
    margin: auto;
    margin-top: 40px;
}
.setuser>h1{
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 2.6rem;
    color: teal;
    margin-bottom: 20px;
}
.setuser>p{
    font-size: 1.6rem;
}
.setuser>h6{
    font-size: 1rem;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 30px;
}
.setuser>h2{
    font-size: 1.2rem;
}
.setuser>ul{
    margin-top: 10px;
    font-size: large;
}
.setuser>ul>li:hover{
    color: teal;
    cursor: pointer;
}
.username{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.username>p{
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}
.user_input{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(182, 181, 181);
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.user_input>p{
    font-size: x-large;
    color: rgb(0, 0, 0);
    padding: 15px;
}
.user_input>input{
    width: 90%;
    height: inherit;
    padding-left: 3px;
    border: none;
    border-left: 0.8px solid black;
    background-color: rgb(182, 181, 181);
    color: black;
    font-size: x-large;

}
.icn{
    height: 40px;
    align-items: center;
    margin-left: 10px;
}
.progress, .success_icn, .wrong_icn{
    margin-top: 14px;
}

.success_icn{
    color: rgb(0, 197, 0);
}
.wrong_icn{
    color: rgb(255, 15, 15);
}
.user_input>input:focus{
    outline: none;
}
.error{
    width: 95%;
    display: flex;
    justify-content: left;
    margin-top: 5px;
}
.error>p{
    margin-left: 10px;
    color: rgb(252, 27, 27);
}
.err_icn{
    color: rgb(252, 27, 27);
}
.nextbtn{
    height: 40px;
    width: 180px;
    margin-top: 30px;
    font-size: x-large;
    border-radius: 5px;
    outline: none;
    background-color: aqua;
}
.nextbtn:hover{
    font-weight: bold;
    background-color: rgb(66, 241, 50);
    transition: all .5s;
}