.post{
    width: 95%;
    margin-top: 5px;
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
    display: block;
    padding: 2px 2px 15px 2px;
    justify-content: space-between;
}

.post > h3{
    font-size: 1.9rem;
    margin-bottom: 4px;
}
.post>p{
    color: rgb(95, 93, 93);
    margin-bottom: 10px;
}
.auth{
    display: flex;
    padding: 2px;
    margin-top: auto;
}
.auth > p{
    margin-right: 10px;
    color: rgb(75, 75, 75);
}
.li>h3{
    color: black;
}
.li>p{
    color: rgb(145, 145, 145);
}
.a_icn_w, .a_icn_d{
    margin-right: 5px;
    cursor: pointer;
    color: rgb(75, 75, 75);
}

.a_icn_w:hover{
    color: rgb(18, 63, 18);
}
.a_icn_d:hover{
    color: rgb(255, 77, 77);
}
@media only screen and (max-width: 900px){
    .post{
        width: 99%;
    }
    .post > h3{
        font-size: 1.1rem;
        margin-bottom: 4px;
    }
    
}
