@import '../../production/Colors.css';
.li{
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    position: sticky;
    top: 0;
    /* z-index: 10000; */
    background-color: whitesmoke;
    color: var(--header-color);
}
.header_logo{
    font-size: 32px;
    object-fit: contain;
    color: black;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_avatar{
    margin-right: 15px;
}
.header_b{
    width: 100%;
    height: 25px;
    background-color: blanchedalmond;
    margin-bottom: 10px;
}
.header_icon_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.draft_li{
    color: black;
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}
.draft_li:hover{
    background-color: gray;
    color: white;
    transition: all .5s;
}
.dropdown{
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    margin-right: 10px;
    background-color: rgb(246,247,249);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    align-items: center;
    z-index: 100;
}
.dropdown>p{
    color: rgb(22, 22, 22);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: large;
}
.dropdown>p:hover{
    background-color: rgb(146, 146, 146);
}
.dropdown_li{
    text-decoration: none;
    color: black;
}
