@import '../../production/Colors.css';
.li{
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: whitesmoke;
    color: var(--header-color);
}
.header_logo{
    font-size: 32px;
    object-fit: contain;
}
.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_avatar{
    margin-right: 15px;
}
.header_b{
    width: 100%;
    height: 25px;
    background-color: blanchedalmond;
    margin-bottom: 10px;
}

